<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flip_final.css') }}"> 
    <title>Flipped Video Result</title>
</head>
<body>
    <h2>Flipped Video Result</h2>
    <video controls>
        <source src="{{ url_for('static', filename='edited/' + video_path) }}">
        <!-- <source src="{{result}}"> -->
    </video>
    <br>
    <a href="{{ url_for('download_1', filename=video_path) }}" class="download-btn" download>Download Flipped Video</a>
    <!-- <a download>Download Flipped Video</a> -->
</body>
</html>
