<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="/templates/slider.css">
</head>
<body>
    <div class="wrapper">
        <div class="track">
            <div class="scrolling-images">
                <img class="image-item" src="/static/Add-Images-BGR.png" alt="img-1" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" id="big-image" src="/static/Add-Videos-BGR.png" alt="img-2" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" src="/static/Work-Smoothly-BGR.png" alt="img-3" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" src="/static/Trim-Videos-BGR.png" alt="img-4" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" src="/static/Play-Videos-BGR.png" alt="img-5" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" src="/static/Work-On-Videos-BGR.png" alt="img-6" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" src="/static/Add-Images-to-Videos-BGR.png" alt="img-7" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" src="/static/Vlogging-Videos-BGR.png" alt="img-8" />
            </div>
            <div class="scrolling-images">
                <img class="image-item" src="/static/Demo-of-Video-BGR.png" alt="img-9" />
            </div>
        </div>
    </div>
</body>
</html>